body {
    background: #000;
    padding-top: 10px;
}

.one {
    text-align: center;
    color: lime;
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 4s steps(60, end);
}

.one:nth-child(2) {
    animation: type2 8s steps(60, end);
}

p a {
    color: lime;
    text-decoration: none;
}

span {
    animation: blink 1s infinite;
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    50% {
        width: 0;
    }

    100% {
        width: 100;
    }
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

::selection {
    background: black;
}
.px {
    display: none;
}
.flex {
    display: flex;
}
@media all and (max-width: 888px){
    .px {
        display: flex;
    }
    img {
        width: 250px;  
    }
}
@media all and (max-width: 887px){
    .px {
        display: none;
    }
}
.virus{
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    animation: virus 5s infinite;
}
@keyframes virus {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 0px;
        left: 78rem;
    }
    50% {
        top: 29rem;
        left: 0px;
    }
    75% {
        top: 29rem;
        left: 78rem;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}